body {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 800px;
    height: 100vh;
}

.header {
    height: 80px;
    margin: 0 auto;
    padding: 24px 16px;
    border-bottom: 2px solid #E5E1DE;
    display: flex;
    align-items: center;
}

.header__inner {
    max-width: 1230px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    justify-content: center;
    margin: 0 auto;
}

.header__inner-logo {
    font-size: 32px;
    color: #8b7969;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Tinos", serif;
}