
.thankYou{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8b7969;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    z-index: 1;
}

.home-button__btn{
    background-color: #8b7969;
    font-family: "Tinos", serif;
    color: #f5f5f5;
    font-size: 14px;
    border: none;
    height: 32px;
    width: 120px;
    border-radius: 1px;
    cursor: pointer;
}

.background-text{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18vw;
    z-index: -1; 
    white-space: nowrap; 
    color: #8b7969;
    opacity: 0.1;
    font-family: "Tinos", serif;
    pointer-events: none;
    user-select: none;
}